@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.cdnfonts.com/css/futura-md-bt');

:root {
    /* Pallete Ke-1 */
    --primary: #3A3535;
    --primaryRGB: 58, 53, 53;
    --secondary: #E6B31E;
    --secondaryRGB: 255, 115, 21;
    --third: #dddddd;
    --thirdRGB: 221, 221, 221;
    --fourth: #232020;
    --fourthRGB: 35, 32, 32;

    --font-abstract: 'Caveat Brush', cursive;
    --font-paragraph: 'Futura Md BT', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    overflow: unset;
    font-family: var(--font-paragraph);
}

.main-view {
    width: 480px;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
}

.navbar,
.floating-bar {
    margin: auto;
    width: 480px;
}

.logo {
    max-width: 120px;
    max-height: 25px;
}

.nav-title {
    font-family: var(--font-abstract);
}

.bg-primary {
    background: var(--fourth) !important;
}

.bg-secondary {
    background: var(--secondary) !important;
}

.bg-third {
    background: var(--third) !important;
}

.bg-fourth {
    background: var(--fourth) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-third {
    color: var(--third) !important;
}

.text-fourth {
    color: var(--fourth) !important;
}

.to-center {
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.option {
    width: 10rem;
    align-items: center;
    border-radius: 12px;
    text-transform: uppercase;

}

.option:focus {
    background-color: var(--third) !important;
    color: var(--fourth) !important;
    box-shadow: 0 0 0 0.2rem rgba(var(--secondaryRGB), 0.5) !important;
}

.option:focus,
.option:not(:focus),
.nav-item button:focus,
.nav-item button:not(:focus) {
    transition: 0.4s;
}

.nav-item {
    position: relative;
}

.nav-item button {
    top: -40px;
    position: absolute;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 30%;
    box-shadow: 0 2px 4px 2px rgba(var(--primaryRGB), 0.5);
}

.nav-button-active {
    background-color: var(--fourth) !important;
    color: var(--third);
}

.floating-bar {
    bottom: 10px;
    border-radius: 16px;
    width: 95%;
    z-index: 100;
    padding: 32px;
    box-shadow: 0 6px 12px 2px rgba(var(--primaryRGB), 0.5);
}

.status-tukang, .status-tukang .btn {
    border-radius: 18px;
    box-shadow: 0 2px 5px 1px rgba(var(--primaryRGB), 0.5);
}

span.nama {
    font-size: 0.8rem;
    font-weight: bold;
}
span.identitas {
    font-size: 0.7rem;
    font-style: italic;
}

.tukang-btn {
    font-size: 0.6rem;
    width: 6rem;
    margin: 1px 0;
}

.label-formulir {
    font-size: 0.8rem ;
}

.display-6 {
    font-size: 1.6rem !important;
}

.info {
   padding-bottom: 64px;
}

.icon-tukang i {
    font-size: 3rem;
}

.status-content {
    padding-bottom: 50vh;
}

@media screen and (max-width: 320px) {
    .option {
        width: 8rem;
    }
}